@charset "UTF-8";
@media only screen and (min-width: 480px) {
  /* КРОКИ АНКЕТИ */
}
@media only screen and (min-width: 640px) {
  /* КРОКИ АНКЕТИ */
  .select_type Label {
    flex: 0 1 calc(25% - 8px);
  }

  .select_type Label:nth-child(2n+1) {
    margin-right: 10px;
  }

  .select_type Label {
    margin-right: 10px;
  }

  .select_type Label:nth-child(4n+4) {
    margin-right: 0;
  }

  .steps_form Button[type=submit] {
    width: auto;
  }

  .steps_column .dropdown {
    width: 50%;
    max-width: 370px;
  }

  .select_file:not(.select_file-grid) .file {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .select_file:not(.select_file-grid) .file > .col-1 {
    flex: 1 1 auto;
  }

  .select_file:not(.select_file-grid) .file > .col-2 {
    flex: 0 0 200px;
  }

  .select_file.select_file-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .select_file.select_file-grid .file + .file {
    margin-top: 0;
  }

  .select_file.select_file-grid .btn.btn_light {
    width: max-content;
  }

  .two_column {
    grid-template-columns: 1fr 1fr;
  }

  .column_social {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  input[type=text], input[type=password], input[type=tel], input[type=number], textarea {
    height: 70px;
  }

  .main_title,
h1 {
    font-size: 64px;
    margin-bottom: 62px;
  }

  .section_title,
h2 {
    font-size: 52px;
    margin-bottom: 40px;
  }

  .item_title,
h3 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .btn {
    font-size: 14px;
    height: 70px;
  }

  /* КРОКИ АНКЕТИ */
  .steps {
    padding-top: 30px;
  }

  .steps_back {
    font-size: 24px;
  }

  .steps_back Small {
    font-size: 18px;
  }

  .steps_progress-nav B {
    font-size: 24px;
  }

  .color_select {
    grid-template-columns: repeat(4, 1fr);
  }

  .length_text {
    bottom: 26px;
    right: 20px;
  }

  .two_column-checkbox Span {
    height: 70px;
  }

  .search_wrap a {
    width: 45px;
  }

  .service_price {
    grid-template-columns: 35% calc(25% - 30px) 40%;
  }
}
@media only screen and (min-width: 1024px) {
  :root {
    --section-bottom: 130px;
  }

  BODY, HTML {
    font-size: 16px;
  }

  /* КРОКИ АНКЕТИ */
  .steps_name {
    margin-bottom: 40px;
    padding-left: 95px;
    text-align: left;
  }

  .steps_progress-nav {
    padding: 0 95px;
  }

  .steps-content {
    padding: 60px 95px 100px 95px;
  }

  .first_step {
    display: flex;
    flex-direction: row-reverse;
  }

  .first_step-img {
    flex: 0 1 35%;
  }

  .first_step figcaption {
    flex: 0 1 65%;
  }

  .first_step-text {
    font-size: 40px;
  }

  .first_step Input[type=text] {
    margin-bottom: 30px;
  }

  .steps_column {
    flex-direction: row;
    margin-bottom: 50px;
  }

  .steps_column > .col-1 {
    flex: 0 0 300px;
    margin-bottom: 0;
    padding-right: 30px;
  }

  .steps_column > .col-1 B {
    font-size: 24px;
    margin-top: 18px;
  }

  .steps_column > .col-1 Small {
    font-size: 16px;
  }

  .steps_column > .col-1 a {
    font-size: 14px;
  }

  .steps_column > .col-2 {
    flex: 1 1 auto;
  }

  .steps_form Button[type=submit] {
    margin-left: 300px;
  }

  .input_wrap Textarea {
    height: 150px;
  }
}
@media only screen and (min-width: 1280px) {
  /* КРОКИ АНКЕТИ */
  .first_step-img {
    flex: 0 1 50%;
    margin-bottom: 0;
  }

  .first_step figcaption {
    flex: 0 1 50%;
  }

  .select_type {
    padding-bottom: 90px;
  }

  .select_type Label {
    flex: 0 1 calc(25% - 24px);
    margin-right: 32px;
  }

  .select_type Label:nth-child(2n+1) {
    margin-right: 32px;
  }

  .select_type-img {
    margin-bottom: 22px;
  }

  .select_type Figure B {
    font-size: 24px;
  }

  .select_type Figure Span {
    font-size: 16px;
  }

  .steps_form Button[type=submit] {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
  }

  .color_select {
    grid-gap: 30px;
    max-width: 770px;
  }

  .file {
    padding: 25px 30px;
  }

  .two_column {
    grid-gap: 30px;
  }

  .column_social {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .service_price {
    grid-gap: 30px;
    grid-template-columns: 35% calc(25% - 60px) 40%;
  }
}
@media only screen and (min-width: 1540px) {
  /* КРОКИ АНКЕТИ */
}